# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest and Reports
.pytest_cache/
pytest_debug.log
reports/
allure-report/
allure-results/
html-report/

# Environments
.env
.venv
venv/
ENV/

# IDE files
.vscode/
.idea/
*.swp
*.swo
